@import url("https://use.fontawesome.com/releases/v5.8.2/css/all.css");

.wakatime-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 1024px;
    padding: 1rem;
    margin: 1rem auto;
    color: var(--text-linen);
    font-size: 1.75rem;
    font-weight: 300;
}



.wakatime-links {
    display: flex;
    justify-content: space-evenly;
    gap: 2.5rem;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding: 0 0 1rem 0;
}

.wakatime-details {
    font-size: 2rem;
    margin-top: 1.25rem;
    transition: transform 0.3s ease-in-out;
    color: #FFF;
}

.wakatime-details:hover {
    transform: translateY(8px);
}

.social-icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.wakatime-img {
    border-radius: 45%;
    position: relative;
    margin-right: 20px;
    width:374px;
    height: 280px;
    float: left;
}

@media (max-width: 640px) {
    .wakatime-img {
        font-size: 1rem;
        width:288px;
        height: 204px;
        margin: 40px;
        border-radius: 25%
    }
  }