#signature {
  display: flex;
  max-width: 100%;
  margin: 0.1rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: var(--orangered);
}

.sign-rights {
  margin-top: 2rem;
  text-align: center;
  font-size: 1.25rem;
  color: var(--orangered);
  margin-bottom: 0;
}


#sign-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin: 0;

}

#sign-logo img {
  margin-top: 0;
  width: 24rem;
  height: 24rem;
}