@import url("https://use.fontawesome.com/releases/v5.8.2/css/all.css");

.contacts-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 1rem;
    margin: 1rem auto;
    color: var(--text-linen);
}

.contacts-section-header p {
    font-size: 1.25rem;
    font-weight: 300;
    color: rgba(218,148,27,1);
}

@media (max-width: 28.75em) {
    .contacts-section-header h2 {
        font-size: 4rem;
    }
}

.contacts-links {
    display: flex;
    justify-content: space-evenly;
    gap: 2.5rem;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding: 0 0 1rem 0;
}

.contacts-details {
    font-size: 2rem;
    /* text-shadow: 2px 2px 1px #1f1f1f; */
    margin-top: 1.25rem;
    transition: transform 0.3s ease-in-out;
    color: #FFF;
}

.contacts-details:hover {
    transform: translateY(8px);
}

.social-icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.welcome-img {
    display: inline-block;
    border-radius: 50%;
    position: relative;
    top: 50px;
    margin-right: 20px;
    width:128px;
    height: 148px;
}