@import url("https://use.fontawesome.com/releases/v6.5.1/css/all.css");


.contacts-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 1rem;
    margin: 1rem auto;
    font-weight:400;
    color: var(--text-linen);
}

.contacts-section-header {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--text-linen);
}

.contacts-section-qanda {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--text-linen);
}

.questions {
    color: var(--text-linen);
}

.questions::first-letter {
    font-size: 2rem;
    font-weight: 400;
    color: orangered;
}

.contacts-waka {
    height: 48px;
    width: 48px;
    color: var(--main-orange);
}


@media (max-width: 28.75em) {
    .contacts-section-header h2 {
        font-size: 4rem;
    }
}

.contacts-links {
    display: flex;
    justify-content: space-evenly;
    gap: 2.5rem;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding: 0 0 1rem 0;
}

.contacts-details {
    font-size: 2rem;
    margin-top: 1.25rem;
    transition: transform 0.3s ease-in-out;
    color: #FFF;
}

.contacts-details:hover {
    transform: translateY(8px);
}

.social-icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contacts-img {
    border-radius: 45%;
    position: relative;
    margin-right: 20px;
    width:374px;
    height: 280px;
    float: left;
}



@media (max-width: 640px) {
    .contacts-img {
        font-size: 1rem;
        width:288px;
        height: 204px;
        margin: 40px;
        border-radius: 25%
    }
  }

  .sizeSmiley {
    font-size: 1rem;
}