@import url("https://use.fontawesome.com/releases/v6.5.1/css/all.css");


.contacts-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 1240px;
    max-width: 100%;
    padding: 1rem;
    margin: 1rem auto;
    font-weight: 300;
    color: var(--text-linen);
    font-size: 3rem;
}

.contacts-section-header {
    font-size: 2.5rem;
    font-weight: 400;
    color: var(--text-linen);
}

.contacts-section-qanda {
    font-weight: 300;
    margin: 1rem auto;
    color: var(--text-linen);
}

.contacts-section-qanda:hover {
    font-size: 2.0rem;
    font-weight: 400;
    margin: 1rem auto;
    color: var(--text-linen);
}

.contacts-section-qanda img:hover {
    width: 40px;
    height: 40px;
}

.contacts-section-header h1 {
    color: rgba(218,148,27,1);
    font-weight: 300;
    margin: 1rem auto;
    font-size: 2.5rem;
    font-style: italic;

}

.contacts-section-header h2 {
    font-size: 2rem;
    font-weight: 300;

}

.contact-skills {
    border-radius: .1em;
    border: .1em solid hsl(34, 85%, 47%);
    /* #282A2B */
    box-shadow: 1px 1px .5em rgb(20, 20, 20) inset;
    margin: 4rem auto;
}

.questions {
    color: var(--text-linen);
    font-size: 2rem;
    font-weight: 300;
}

.question {
    color: orangered;
    font-size: 2rem;
}

.questions::first-letter {
    font-size: 2.5rem;
    font-weight: 400;
    color: orangered;
}

.contacts-waka {
    height: 16px;
    width: 16px;
    color: var(--text-linen);
    filter: drop-shadow(0 0 2rem rgb(192, 114, 26));
}

.fa {
    color: var(--text-linen);
}

.fab {
    color: var(--text-linen);
}

.contacts-links {
    display: flex;
    justify-content: space-evenly;
    gap: 2.5rem;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding: 0 0 1rem 0;
    color: var(--text-linen);
}

.contacts-details {
    font-size: 3rem;
    margin-top: 1.25rem;
    transition: transform 0.3s ease-in-out;
    color: var(--text-linen);
}

.contacts-details:hover {
    transform: translateY(8px);
}

.social-icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.contacts-img {
    border-radius: 50%;
    position: relative;
    margin-right: 20px;
    float: left;
    width: 240px;
    height: 200px;
}

@media (max-width: 640px) {
    .contacts-section {
        margin: 8rem auto;
        width: 100%;
        max-width: 480px;
        text-align: center;
        font-size: 0.85rem;
        font-weight: 200;
    }

    .sizeSmiley {
        font-size: 1rem;
    }
}