footer {
  border-top: 1px solid rgba(218, 148, 27, 1);
  height: 4rem;
}

footer nav#feet-footer .footer-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin: 1rem;
}

footer nav#feet-footer .footer-icons img {
  width: 2rem;
  height: 2rem;
  margin: 1rem;
}

footer nav#feet-footer .footer-icons:hover {
  cursor: pointer;
  color: rgba(218, 148, 27, 1);
  filter: drop-shadow(0 0 2em #fbd261aa);
  transition: transform 0.3s ease-in-out;
}

footer nav#feet-footer .footer-items ul img {
  width: 2rem;
  height: 2rem;
}

footer nav#feet-footer .footer-head p {
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
  color: var(--orangered);
}

footer nav#feet-footer .time {
  color: var(--white);
}

footer nav#feet-footer .footer-head .time {
  color: var(--orangered);
}

footer nav#feet-footer .footer-head .waviy {
  color: var(--orangered);
}

.contacts-details {
  font-size: 3rem;
  margin-top: 1.25rem;
  transition: transform 0.3s ease-in-out;
  color: var(--text-linen);
}

@media (prefers-reduced-motion: no-preference) {
  .footer-icons {
    animation: logo-spin infinite 20s linear;
  }
}

@media (max-width: 640px) {

  footer nav#feet-footer .footer-items ul img {
    width: 2rem;
    height: 2rem;
  }


  footer nav#feet-footer .footer-icons {
    flex-wrap: nowrap;
    margin: 1rem;
  }
}

@media (max-width: 768px) {

  footer nav#feet-footer .footer-items ul img {
    width: 2rem;
    height: 2rem;
  }


  footer nav#feet-footer .footer-icons {
    flex-wrap: nowrap;
    margin: 1rem;
  }

}