
footer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-top: 2px solid var(--orangered);
    color: var(--orangered);
    margin: 0 auto;
    font-size: 1.25rem;  
    font-weight: 400;
}

.time  {
    
    text-align: center;
    color: var(--orangered);
    font-size: 1.25rem;
    font-weight: 400;

}

footer i {
    vertical-align: middle;
}

.foot-img {
        width: 25%;
        height: auto
}