footer {
  border-top: 1px solid rgba(218, 148, 27, 1);
  box-shadow: 2px 4px 6px rgba(194, 77, 9, 0.5);
}

footer nav#feet-footer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  height: 4rem;
  width: 100%;
  padding: 1rem 0;
  background-color: rgba(80, 71, 55, 0.5);
}

footer nav#feet-footer .footer-head {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 1.0rem;
  font-weight: 300;
  font-style: normal;
  color: rgba(218, 148, 27, 1);
  text-align: center;
}

footer nav#feet-footer .footer-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  gap: 10rem;
  margin: 0 2rem;

}
footer nav#feet-footer .footer-icons img{

width: 3rem;
height: 3rem;
}

footer nav#feet-footer .footer-icons:hover {
  cursor: pointer;
  color: rgba(218, 148, 27, 1);
  filter: drop-shadow(0 0 2em #fbd261aa);
}

footer nav#feet-footer .footer-items ul img {
  width: 32px;
  height: 32px;
}


footer nav#feet-footer .footer-head p {

  text-align: center;
  font-size: 1rem;
  font-weight: 300;
  color: var(--orangered);
}

footer nav#feet-footer .time {
  color: var(--white);
}
footer nav#feet-footer .footer-head .time {
  color: var(--orangered);
}

footer nav#feet-footer .footer-head .waviy {
  color: var(--orangered);
}


/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
   .footer-icons {
    animation: logo-spin infinite 20s linear;
  }
} */

@media (max-width: 640px) {

  footer nav#feet-footer .footer-items ul img {
    width: 24px;
    height: 24px;
  }
  footer nav#feet-footer .footer-icons {

    flex-wrap: nowrap ;
  }

}