
footer {

    border-top: 2px solid rgba(218,148,27,1);
    margin: 1rem auto;

}

.footer-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    color: rgba(218,148,27,1);
    margin: 1rem auto;
    font-size: 1.25rem;  
    font-weight: 300; 
}

.footer-container span {
    font-size: 1.0rem;
    font-weight: 300;
    font-style: normal;
    color: orangered;
}

.time  {
    
    text-align: center;
    color: var(--orangered);
    font-size: 1.25rem;
    font-weight: 400;
}

footer i {
    vertical-align: middle;
}

.foot-img {
        width: 25%;
        height: auto
}

.footer-icons {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    will-change: filter;
    transition: filter 300ms;
}

  .footer-icons:hover {
    cursor: pointer;
    transform: translateX(8px);
    color: rgba(218,148,27,1);
    filter: drop-shadow(0 0 2em #fbd261aa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
   .footer-icons {
    animation: logo-spin infinite 20s linear;
  }
}

@media (max-width: 640px) {
  .waviy {
      margin: 0 auto;
      width: 100%;
      text-align: center;
  }
  .footer-container {

    font-size: 1rem;  
    font-weight: 300; 
}
}