
#articles {
    display: flex;
    margin: 0 auto;
    align-items: center;
    gap: 1.5rem;
    flex-direction: row;
}

#articles .article-infos blockquote {
    display:flex;
    justify-content: center;
align-items: center;;
    font-weight: 300;
    font-size: 1.75rem;
    color: var(--text-linen);
    text-align: left;
}

#articles .article-infos h2{
    color: rgba(218,148,27,1);
    font-weight: 300;
    margin-top: 1rem;
    margin: 1rem auto;
    font-size: 2.5rem;
    
}

#articles .article-infos h3 {
    font-size: 2.5rem;
    font-weight: 300;
    color: var(--orangered);
    font-style: italic;
}
#articles  p{
    color: rgba(218,148,27,1);
    font-weight: 300;
    margin: 1rem auto;
    font-size: 1.75rem;
    text-align: right;
}

#articles .article-infos p {
    font-size: 1.625rem;
    color: var(--text-linen);
    text-align: left;
}


#articles img {
    display:flex;
    margin-top: auto;
    width: 480px;
    height:240px;
    
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 5px;
    background-color: rgba(1, 18, 22, 0.418);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease-in-out;
}

#articles p:hover .overlay {
    font-size: 2em;
}



@media (max-width: 640px) {

    #articles {
        display: grid;
        align-items: center;
        max-width: 640px;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        grid-gap: 4rem;
        width: 100%;
        height: 100%;
    }

    #articles img  {
        width: 320px;
        height: 180px
    }

    #articles iframe {
        width: 320px;
        height:180px

    }
    #articles  p{

        font-size: 1.65rem;
    }
} 
