.history-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 960px;
    margin: 2rem auto;
    font-size: 1.2rem;
    font-weight: 300;
    font-style: normal;
    color: var(--text-linen);
    
}

.history {
    font-size: 2rem;
    font-weight: 200;
    font-style: normal;
    color: var(--text-linen);
    
}



.history-important {

  color: var(--main-white);

}

.history-important span {
  color: rgba(218,148,27,1);
}

.history-important p {
    color: var(--main-white)
  }
  
.history-bullets:hover {
  cursor: pointer;
  transform: translateY(5px);
  font-weight: 400;
  font-size: 1.25rem;
  transition: transform 5s ease-in-out;
  color: rgba(218,148,27,1);
}

.history-bullets li {

    margin: 1.25rem auto;
    text-align: center;
    list-style: none;

}

.history-bullets ul {
    margin: 0;
    padding: 0;
}

.resume {
    color: rgba(218,148,27,1);
    margin: 0 5px;
}

.resume:hover {
    cursor: pointer;
    transform: translateY(8px);
    font-weight: 500;
    transition: transform 2s ease-in-out;
    color: rgba(218,148,27,1);
}

.waviy {
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--orangered);
    font-family: "Poppins", sans-serif;

  }
  .waviy span {
    position: relative;
    display: inline-block;
    animation: waviy 4s infinite;
    animation-delay: calc(.1s * var(--i));
    
  }

  .waviy span:hover {
    transform: translateY(8px);
    font-weight: 1000;
    transition: transform 0.3s ease-out;

  }

  @keyframes waviy {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-20px)
    }
  }

dt {
    font-style: italic;

}

blockquote {
    color: #fff;
}


@media (max-width: 640px) {
  .history-container {
      margin: 0 auto;
      width: 100%;
      text-align: center;
  }
}

.contact-me {
  display: flex;
  margin: 0 auto;
  padding: 10px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}