section#articles {
    display: flex;
    flex-direction: column;
    max-width: 1240px;
    padding: 0 2rem;
    margin: 4rem auto;
    gap: 4rem
  }

  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 5px;
    background-color: rgba(1, 18, 22, 0.418);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease-in-out;
}


#articles .linkTo {
  color: inherit;
  text-decoration: inherit;
}

#articles p:hover{
    font-size: 1.85em;
    color: var(--orangered);
}